<div class="container-fluid">
    <div class="row justify-content-center">
      
      <div
        class="container col-lg-4 col-md-5 col-sm-6 col-11 width shadow p-0 m-5 bg-light rounded"
      >
      <div class=" bg-info py-2">
      <h2 class="text-center">Login</h2>
  </div>
  <div class="p-3">
      <div class="">
  
          <p class="mb-0"><strong>Username</strong>:Jayesh Mahajan</p>
          <p><strong>password</strong> :4444</p>
        </div>
  
        <form [formGroup]="form">
          <div class="form-group">
            <label for="username" class="font_size"
              ><i class="fa fa-user" aria-hidden="true"></i> Username</label
            >
            <input
              type="text"
              class="form-control"
              id="text"
              formControlName="username"
              placeholder="Enter username"
              name="Username"
            />
          </div>
          <div class="form-group">
            <label for="pwd" class="font_size">
              <i class="fa fa-key" aria-hidden="true"></i> Password</label
            >
            <input
              type="password"
              class="form-control"
              id="pwd"
              formControlName="password"
              placeholder="Enter password"
              name="pswd"
            />
          </div>
  
          <button (click)="signIn()" type="button" class="btn btn-primary mr-3">
            Sign in
          </button>
        </form>
  </div>
        
      </div>
    </div>
  </div>
  