<router-outlet></router-outlet>






<!-- // cricketPlayerData =   [
//   {
    
//         path: "assets/viratKohli.jpg",
//         name: "Virat Kohli",
//        detail: {
//           born: "Nov 05, 1988 (31 years)",
//           birthplace: "Delhi",
//           height: "5 ft 9 in (175 cm)",
//           role: "Batsman",
//           battingstyle: "Right Handed Bat",
//           bowlingstyle: "Right-arm medium",
//         }
//   },

//   {
    
//         name: "Yuvraj Singh",
//         path: "assets/YuvrajSingh.jpg",
//         detail: {
//           born: "Dec 12, 1981 (38 years)",
//           birthplace: "Chandigarh",
//           height: "6 ft 2 in (188 cm)",
//           role: "Batting Allrounder",
//           battingstyle: "Left Handed Bat",
//           bowlingstyle: "Left-arm orthodox"
//         }
//   },

//   {
    
//         path: "assets/SureshRaina.jpg",
//        name: "Suresh Raina",
//        detail: {
//           born: "Nov 27, 1986 (33 years)",
//           birthplace: " Ghaziabad",
//           height: "5 ft 8 in (166 cm)",
//           role: "Batsman",
//           battingstyle: "Left Handed Bat",
//           bowlingstyle: "Right-arm offbreak",
//         }
//   },
 
//   {
    
//         path: "assets/RohitSharma.jpg",
//         name: "Rohit Sharma",
//         detail: {
//           born: "Apr 30, 1987 (33 years)",
//           birthplace: "Nagpur",
//           height: "6 ft 2 in (188 cm)",
//           role: "Batsman",
//           battingstyle: "Right Handed Bat",
//           bowlingstyle: "Right-arm offbreak",
//         }
//   }
// ]; -->


<!-- 
Json Data 

{
  "moviesData": [
    {
      "moviesName": [
        "Dangal",
        "Kal ho na ho",
        "Tare jamin par",
        "3 Idiots",
        "Kick",
        "Dabang"
      ],
      "id": 1
    },
    {
      "moviesName": [
        "Kal ho na ho",
        "3 Idiots",
        "Kick",
        "Dangal",
        "Dabang",
        "Tare jamin par"
      ],
      "id": 2
    },
    {
      "moviesName": [
        "Kick",
        "Tare jamin par",
        "Kal ho na ho",
        "Dangal",
        "Dabang",
        "3 Idiots"
      ],
      "id": 3
    },
    {
      "moviesName": [
        "Kal ho na ho",
        "Dangal",
        "3 Idiots",
        "Tare jamin par",
        "Kick",
        "Dabang"
      ],
      "id": 4
    }
  ]
} -->



<!-- {
      "path": "assets/MSDhoni.jpg",
      "name": "MS Dhoni",
      "detail": {
        "born": "Jul 07, 1981 (39 years)",
        "birthplace": "Ranchi",
        "height": "5 ft 11 in (180 cm)",
        "role": "WK-Batsman",
        "battingstyle": "Right Handed Bat",
        "bowlingstyle": "Right-arm medium"
      }
    },
    {
      "path": "assets/SachinTendulkar.jpg",
      "name": "Sachin Tendulkar",
      "detail": {
        "born": "Apr 24, 1973 (47 years)",
        "birthplace": " Mumbai",
        "height": "5 ft 5 in",
        "role": "Batsman",
        "battingstyle": "Right Handed Bat",
        "bowlingstyle": "Right-arm medium"
      }
    },
    {
      "path": "assets/VirendraSehwag.jpg",
      "name": "Virendra Sehwag",
      "detail": {
        "born": "Oct 20, 1978 (41 years)",
        "birthplace": "Delhi",
        "height": "5 ft 8 in (173 cm)",
        "role": "Batsman",
        "battingstyle": "Right Handed Bat",
        "bowlingstyle": "Right-arm offbreak"
      }
    },
    {
      "path": "assets/GautamGambhir.jpg",
      "name": "Gautam Gambhir",
      "detail": {
        "born": "Oct 14, 1981 (38 years)",
        "birthplace": "Delhi",
        "height": "5 ft 6 in (168 cm)",
        "role": "Batsman",
        "battingstyle": "Left Handed Bat",
        "bowlingstyle": "Right-arm legbreak"
      }
    } -->




    <!-- // players = [
    //   {
    //     path: "assets/viratKohli.jpg",
    //     name: "Virat Kohli",
    //     detail: {
    //       born: "Nov 05, 1988 (31 years)",
    //       birthplace: "Delhi",
    //       height: "5 ft 9 in (175 cm)",
    //       role: "Batsman",
    //       battingstyle: "Right Handed Bat",
    //       bowlingstyle: "Right-arm medium",
    //     },
    //   },
    //   {
    //     path: "assets/YuvrajSingh.jpg",
    //     name: "Yuvraj Singh",
    //     detail: {
    //       born: "Dec 12, 1981 (38 years)",
    //       birthplace: "Chandigarh",
    //       height: "6 ft 2 in (188 cm)",
    //       role: "Batting Allrounder",
    //       battingstyle: "Left Handed Bat",
    //       bowlingstyle: "Left-arm orthodox",
    //     },
    //   },
    //   {
    //     path: "assets/SureshRaina.jpg",
    //     name: "Suresh Raina",
    //     detail: {
    //       born: "Nov 27, 1986 (33 years)",
    //       birthplace: " Ghaziabad",
    //       height: "5 ft 8 in (166 cm)",
    //       role: "Batsman",
    //       battingstyle: "Left Handed Bat",
    //       bowlingstyle: "Right-arm offbreak",
    //     },
    //   },
    //   {
    //     path: "assets/RohitSharma.jpg",
    //     name: "Rohit Sharma",
    //     detail: {
    //       born: "Apr 30, 1987 (33 years)",
    //       birthplace: "Nagpur",
    //       height: "6 ft 2 in (188 cm)",
    //       role: "Batsman",
    //       battingstyle: "Right Handed Bat",
    //       bowlingstyle: "Right-arm offbreak",
    //     },
    //   },
    //   {
    //     path: "assets/MSDhoni.jpg",
    //     name: "MS Dhoni",
    //     detail: {
    //       born: "Jul 07, 1981 (39 years)",
    //       birthplace: "Ranchi",
    //       height: "5 ft 11 in (180 cm)",
    //       role: "WK-Batsman",
    //       battingstyle: "Right Handed Bat",
    //       bowlingstyle: "Right-arm medium",
    //     },
    //   },
    //   {
    //     path: "assets/SachinTendulkar.jpg",
    //     name: "Sachin Tendulkar",
    //     detail: {
    //       born: "Apr 24, 1973 (47 years)",
    //       birthplace: " Mumbai",
    //       height: "5 ft 5 in",
    //       role: "Batsman",
    //       battingstyle: "Right Handed Bat",
    //       bowlingstyle: "Right-arm medium",
    //     },
    //   },
    //   {
    //     path: "assets/VirendraSehwag.jpg",
    //     name: "Virendra Sehwag",
    //     detail: {
    //       born: "Oct 20, 1978 (41 years)",
    //       birthplace: "Delhi",
    //       height: "5 ft 8 in (173 cm)",
    //       role: "Batsman",
    //       battingstyle: "Right Handed Bat",
    //       bowlingstyle: "Right-arm offbreak",
    //     },
    //   },
    //   {
    //     path: "assets/GautamGambhir.jpg",
    //     name: "Gautam Gambhir",
    //     detail: {
    //       born: "Oct 14, 1981 (38 years)",
    //       birthplace: "Delhi",
    //       height: "5 ft 6 in (168 cm)",
    //       role: "Batsman",
    //       battingstyle: "Left Handed Bat",
    //       bowlingstyle: "Right-arm legbreak",
    //     },// drop(event: CdkDragDrop<string[]>) {
    //   moveItemInArray(this.players, event.previousIndex, event.currentIndex);
    // }
    //   }
    // ]; -->